* {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

/* ...................Header style start................ */
.header {
    background-image: url(./Images/donation2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 669px;
    background-color: rgb(155, 153, 153);
    background-blend-mode: multiply;
}

.header-div {
    padding: 192px 317px;
}

.title {
    font-weight: 700;
    font-size: 65px;
    text-align: center;
    color: #FFFFFF;
}

.header-description {
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 20px;
}

.btn-primary {
    padding: 16px 12px;
    color: #FFFFFF;
    border: 0;
    background: #FF5959;
    border-radius: 5px;
    font-size: 20px;
    margin: 0 auto;

}

.btn {
    text-align: center;
    margin-top: 30px;
}

/* ...................Header style end................ */

/* ...................Donate amount start.............. */
.donate-today {
    margin-top: 130px;
    text-align: center;
}

.donate-title {
    font-size: 45px;
    color: #121212;
}

.donate-description {
    color: #707070;
    font-size: 18px;
    margin-top: 20px;
}


.donate-amounts {
    display: flex;
    justify-content: space-around;
    padding: 50px 338px;
}

.amount {
    width: 135px;
    height: 123px;
    background: #FAFAFA;
    font-size: 30px;
    background: #FAFAFA;
    border-radius: 5px;
    color: #707070;

}

.tk {
    padding: 43px 24px;

}

.amount-active {
    width: 135px;
    height: 123px;
    background: #FFEEEE;
    font-size: 30px;
    border: 2px solid #FF5959;
    border-radius: 5px;
    color: #FF5959;


}

.extra-amount {
    color: #B3B3B3;
    font-size: 18px;
    text-align: center;
    margin-top: 60px;

}

.hr-line {
    margin-top: 9px;
    margin-left: 355px;
    width: 765px;
    background-color: #DADADA;
    ;
}

/* ...................Donate amount end.............. */

/* ...................Donate Plan start.............. */

.donate-plan-title {
    margin-top: 130px;
    font-size: 45px;
    text-align: center;
    color: #121212;
}

.plan-description {
    color: #707070;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;

}

.donation-category {
    display: flex;
    justify-content: space-around;
    padding: 50px 157px;
}

.category1 {
    width: 360px;
    height: 352px;
    background: #4F9DA61A;
    border-radius: 5px;
}

.category2 {
    width: 360px;
    height: 352px;
    background: #FF59591A;
    border-radius: 5px;
}

.category3 {
    width: 360px;
    height: 352px;
    background: #FFF4D6;
    border-radius: 5px;
}

.donation-category img {
    padding: 63px 23px;
}

.title-for-category {
    margin-top: -33px;
    margin-left: 23px;
    font-weight: 600;
    font-size: 24px;
    color: #121212;


}

.description {
    width: 315px;
    height: 101px;
    margin-top: 16px;
    margin-left: 23px;
    line-height: 24px;
    color: #707070;
}

/* ...................Donate plan end.............. */


/* ...................Donate service start.............. */
.services {
    display: flex;
    justify-content: space-around;
    padding: 130px 157px;
}

.all-text {
    width: 493px;
    height: 374px;
}

.service-title {
    margin-top: 50px;
    font-weight: 700;
    font-size: 45px;
    color: #121212;
}

.service-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #707070;
    margin-top: 20px;
}

.contribute-btn {
    padding: 16px 12px;
    color: #FFFFFF;
    border: 0;
    background: #FF5959;
    border-radius: 5px;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 20px;
}

.img img {
    width: 450px;
    height: 474px;
    margin-right: 104px;
    border-radius: 5px;
}

.services-2 {
    display: flex;
    justify-content: space-around;
    padding: 80px 157px;
    margin-top: -20px;
}

.all-text-2 {
    width: 493px;
    height: 374px;
    margin-left: -110px;
}

/* ...................Donate service end.............. */

/* ...................Update part start.............. */

.update-section {
    margin-top: 130px;
}

.contact {
    margin: 50px 316px;
    background: #FFF4D6;
    width: 809px;
    height: 200px;


}

.input {
    padding: 76px 189px;
}

input {
    width: 275px;
    height: 48px;
    border: 0;
    background: #D9D9D9;
    border-radius: 5px 0px 0px 5px;
}

.btn-primary1 {

    padding: 15px 12px;
    color: #FFFFFF;
    border: 0;
    background: #FF5959;
    border-radius: 5px;
    font-size: 16px;
    margin-left: -4.5px;
    border-radius: 0px 5px 5px 0px;

}

/* ...................Update part start.............. */

/* ...................Footer  start.............. */

footer {
    margin-top: 130px;
    background: #0B0D17;
    height: 177px;
}

.footer-title {
    padding: 43px 653px;
    font-family: 'Lobster', cursive;
    font-weight: 36px;
    color: #FF5959;
    text-align: center;
}

.footer-des {
    margin-top: -14px;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 20px;
    font-feature-settings: 'liga' off;
    color: #D9DBE1;
    text-align: center;
}

/* ...................Footer part end............. */